a,
a:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
a:hover {
  color: rgb(172, 5, 149, 0.719);
  text-decoration: none;
}
a:active {
  color: rgb(255, 255, 255, 0.719);
}
.btn-secondary,
.btn {
  font-weight: bolder;
  color: rgb(255, 255, 255, 0.719);
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: rgb(172, 5, 149, 0.719);
  border: 2px solid rgba(255, 255, 255, 0.719);
  border-radius: 50%;
  align-content: center;
  padding: 3px;
  width: auto;
}
.btn-secondary:active,
.btn:active,
.btn-secondary:focus,
.btn:focus,
.btn-secondary:hover,
.btn:hover  {
  font-weight: bolder;
  color: rgb(172, 5, 149, 0.719);
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: rgba(255, 255, 255, 0.719);
  border: 2px solid rgb(172, 5, 149, 0.719);
  border-radius: 50%;
  align-content: center;
  padding: 3px;
  width: auto;
  
}
.navbar-toggler {
  color: rgba(255, 255, 255, 0.719);
}

/* Everything above has to do with links -----------------------------
--------- BELOW starts with body, followed by everything else ------------ */

html,
body {
  height: 100%;
  width: 100%;
  background-image: url(../Weather-Dash/images/pinkLightLg.jpg);
  background-attachment: fixed;
  background-position: center;

  background-repeat: no-repeat;
  background-size: cover;
}
body {
  display: -ms-flexbox;
  display: flex;
  color: rgb(255, 255, 255);
  
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0);
}
.cover-container {
  max-width: 50em;
}                    
.inner,
.cover {
  max-width: 50em; 
}
/*NAVBAR STYLE HEADERBOX*/
nav,
.collapse,
.navbar-collapse {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 350px;
}
.navbar-collapse {
  background-color: rgba(0, 0, 0, 0.699);
}
.navbar-nav {
  flex: 1;
  order: 1;
}
.locate {
  flex: 1;
  order: 2;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
  margin-top: 1rem;
  color: rgb(172, 5, 149, 0.719);
}
.mastfoot {
  flex: 1;
  order: 3;
}
 /* ------------------- HEADER -------------------------*/
.masthead {
  width: 350px;
  justify-content: center;
}
.masthead-brand {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#name {
  flex: 2;
  order: 1;
  font-weight: normal;
}
#sub {
  flex: 1;
  order: 2;
  font-size: small;
  margin-top: 10px;
}
/* ------- Media Queries ----------*/
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
/* ---------------------- FOOTER --------------------------------- */
.footerbox {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 4.8rem;
  margin-bottom: 2rem;
  padding: 0;
  text-shadow: none; /* Prevent inheritance from `body` */
  text-align: center;
  font-weight: bold;
  font-size: small;
  color: rgb(172, 5, 149, 0.719);
}
#tag {
  text-align: left;
  flex: 1;
  order: 1;
}
#linkedinlink {
  flex: 1;
  order: 2;
}
#githublink {
  flex: 1;
  order: 3;
}
/* -------- end of footer --------------------------------*/
/* BODY CONTENT STUFF LIKE FONTS ---------------------------------------------- */
.mainbox {
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 20%;
}
.picwinfo {
  flex: 1;
  order: 1;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 7%;
  margin-bottom: 15%;
  text-align: left;
}
.one {
  flex: 1;
  order: 1;
  border-radius: 0%;
  padding: 5px;
}
.two {
  flex: 1;
  order: 2;
  margin-top: 5%;
}
/* SPECIFIC WEATHER STUFF */
#uv {
  border-radius: 25%;
}
.UV1{
  color: rgb(0, 0, 0);
  background-color: rgb(9, 255, 0, 0.5);
}
.UV2{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 0, 0.5);
}
.UV3{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 166, 0, 0.5);
}
.UV4{
  color: rgb(0, 0, 0);
  background-color: rgba(255, 0, 0, 0.5);
}
.UV5{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 0, 179, 0.5);
}
#output{
  padding: 15px;
  margin: 5px;
}
.weekBoxes {
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.box {
  justify-content: center;
  text-align: center;
  color: white;
  background-color: rgb(172, 5, 149, 0.719);
  border-radius: 25%;
  min-width: 100px;
  max-width: 150px;
  margin: 15px;
  padding: 2px;
  padding-top: 5px;
}